@using StateOfOhioLibrary.Models;
@model ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}
@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12">
        <div id="inner-right-area">
            <div class="container">
                <div class="col-md-12 clearfix">
                    <h1 class="div-space-three">Forgot Password</h1>
                </div>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="shadow-container">
                        <div class="alert alert-danger">
                            @Html.ValidationSummary("", new { @style = "color:#a94442;" })
                        </div>
                    </div>
                }
                else if (Model.PasswordStatus != null)
                {
                    <div class="col-md-12">
                        <div class="shadow-container" id="failure">
                            <div class="alert alert-danger">@Model.PasswordStatus</div>
                        </div>
                    </div>
                    <script>
                        HideConfirmation();
                        function HideConfirmation() {
                            setTimeout(
                            function () {

                                $("#txtEmail").val("");

                                $("#failure").html("");
                                $("#failure").hide(1000);
                            }, 2000);
                        }
                    </script>
                }

                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="search-panel">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="30%"><label>Email:</label></td>
                                <td width="70%">
                                    @Html.TextBoxFor(model => model.Email, new { @id = "txtEmail", @tabindex = "1", @maxlength = "50", @class = "search-control-eight", @autocomplete = "off" })
                                </td>
                            </tr>

                        </table>
                        <div class="col-md-12 text-center div-space-one">
                            <button id="submit" name="submit" type="submit" value="Submit" class="submit-btn" tabindex="3">Submit</button>
                            <a class="cancel-button" tabindex="10" style="cursor:pointer;" href="/Login">Cancel</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
}
