<div id="footer">
    <div class="container">
        <p class="footer-block">
            &copy; Copyright
            <script>
                var mydate = new Date()
                var year = mydate.getYear()
                if (year < 1000)
                    year += 1900
                document.write("" + year + "")
            </script>. State Library of Ohio.
        </p>
    </div>
</div>