<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav">
            <ul class="nav" id="side-menu">
                <li><a href="/Dashboard">Dashboard</a></li>
                <li><a href="/Data">Data</a></li>
                <li><a href="/Template">Templates</a></li>
                <li><a href="/Template/CustomTemplate">Custom Template</a></li>   
            </ul>
        </div>
    </div>
</nav>